<div>

<h1><%= 'Project 1'%></h1>

<ul class="sonarmenu">
  <li>
<p><%= link_to 'Register Yourself', register_path %></p>
  </li><li>
<p><span><%= link_to 'Login', login_path %></span></p>
</li>
</ul>
</div>